
/* Generics */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
}

/* HEADER */

header {
    background-color: white;
}

#logo {
    margin: auto 10px;
    padding: 10px 0;
}

.inline-block {
    display: inline-block;
}

.align-middle { 
    vertical-align: middle;
}

img {
    width: 80px;
}

.text-big {
    font-size: 45px;
}

/* MAIN */

.btn-section {
    width: 1090px;
    margin: 15px auto;
    padding: 15px 30px;
    background-color: white;
    border-radius: 10px 10px 0 0;
}

.btn-section button {
    border-radius: 5px;
    padding: 5px 10px;
}

.btn-primary {
    background-color: rgb(66, 66, 255);
    border: 1px solid rgb(66, 66, 255);
}

.btn-secondary {
    background-color: white;
    border: 1px solid gray;
}

.text-white {
    color: white;
}

.text-gray {
    color: gray;
}