
/* Generics */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(184, 181, 181);
    font-family: "Roboto";
}

/* HEADER */

header {
    background-color: white;
}

#logo {
    margin: auto 10px;
    padding: 10px 0;
}

.inline-block {
    display: inline-block;
}

.align-middle { 
    vertical-align: middle;
}

img {
    width: 80px;
}

.text-big {
    font-size: 45px;
}

/* MAIN */

/* BTN SECTION */

.btn-section {
    width: 1090px;
    margin: 15px auto 5px;
    padding: 15px 30px;
    background-color: white;
    border-radius: 10px 10px 0 0;
}

.btn-section button {
    border-radius: 5px;
    padding: 5px 10px;
}

.btn-primary {
    background-color: rgb(66, 66, 255);
    border: 1px solid rgb(66, 66, 255);
}

.btn-secondary {
    background-color: white;
    border: 1px solid gray;
}

.text-white {
    color: white;
}

.text-gray {
    color: gray;
}

/* LIST SECTION */

.list-section {
    width: 1090px;
    margin: 0 auto 15px;
    padding: 15px 30px;
    background-color: white;
    border-radius: 0 0 10px 10px;
}

ul {
    list-style-type: none;
}

.primary-list>li {
    margin: 15px 0;
}

.secondary-list>li {
    margin: 10px;
}

/* CHECK, CROSS ED ETICHETTE */

.cross::before {
    border: 1px solid red;
    border-radius: 50%;
    content: "\2716";
    color: red;
    padding: 2px;
    margin-right: 5px;
}

.check::before {
    border: 1px solid green;
    border-radius: 50%;
    content: "\2714";
    color: green;
    padding: 2px;
    margin-right: 5px;
}

.label::after {
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 14px;
    color: white;
}

.editorial::after {
    background-color: rgb(66, 66, 255);
    content: "Editorial";
    margin-left: 10px;
}

.q1-goals::after {
    background-color: blueviolet;
    content: "Q1 Goals";
    margin-left: 10px;
}

.recruiting::after {
    background-color: rgb(0, 85, 0);
    content: "Recruiting";
    margin-left: 10px;
}

.mobile::after {
    background-color: orange;
    content: "Mobile";
    margin-left: 10px;
}

.website::after {
    background-color: violet;
    content: "Website";
    margin-left: 10px;
}

.sales::after {
    background-color: lime;
    content: "Sales";
    margin-left: 10px;
}